body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fcefef;
  }
  
  h1 {
    color: #000000;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background: #bee6f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-list, .recommendations {
    margin: 20px 0;
  }
  
  .movie {
    padding: 10px;
    border: 1px solid #afafaf;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .movie button {
    padding: 5px 10px;
    background-color: #4488ff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .movie button:hover {
    background-color: #5cdeff;
  }
  
  .recommendations ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  .recommendations li {
    background: #a7d3ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border-color: #156bff;
  }
#viewRecommendations{
    padding: 5px 10px;
    background-color: #4488ff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  